body {
  background-color: #caa9e6;
  font-family: "Dosis", sans-serif;
}

footer {
  text-align: center;
  padding: 30px 40px;
  opacity: 0.6;
}

.search-input {
  width: 30%;
  margin-top: 5px;
  padding: 5px;
  border: 2px solid #7909d6;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(121, 9, 214, 0.3);
}

button {
  box-shadow: 3px 3px rgb(121, 9, 214, 0.3);
  border: 2px solid #7909d6;
  border-radius: 10px;
  width: 15%;
  padding-bottom: 5px;
  margin-left: 3px;
  transition: all 250ms ease-in-out;
}
button:hover {
  color: #ffffff;
  background: #7909d6;
}
.city {
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}
.info-weather .left .sun-icon {
  line-height: 60px;
  width: 15%;
}

.row {
  margin: 20px 0px;
  font-weight: 500;
}
.grid {
  font-weight: 400;
}

.info-weather .left .right {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 600;
}
.temperature {
  font-weight: bold;
  font-size: 35px;
  position: relative;
  left: 6px;
  bottom: -6px;
}
.units a {
  text-decoration: none;
  color: #7909d6;
  font-weight: bold;
  position: relative;
  left: 10px;
  top: -6px;
}
.row .right {
  text-align: right;
}
#description {
  font-weight: bold;
  text-transform: capitalize;
}
.today-weather-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  line-height: 40px;
}

.row .card {
  text-align: center;
  line-height: 60px;

  padding: 40px 5px;
  margin: 0 auto;
  border: 1px solid #caa9e6;
  transition: all 200ms ease-in-out;
}

.fry:hover {
  transform: scale(1.2);
  filter: contrast(85%);
}

.sat:hover {
  transform: scale(1.2);
  filter: contrast(85%);
}

.sun:hover {
  transform: scale(1.2);
  filter: contrast(85%);
}

.mon:hover {
  transform: scale(1.2);
  filter: contrast(85%);
}

.tue:hover {
  transform: scale(1.2);
  filter: contrast(85%);
}